/* Figure extension, https://github.com/GiovanniSalmeri/yellow-figure */

figure { /* reset */
    display: inline-block;
    margin: 0;
}
.content figure.image img {
    display: block;
}
.content figure.image figcaption {
    padding: 0.5em 0;
    font-size: 0.9em;
}
