/* Figure extension, https://github.com/GiovanniSalmeri/yellow-figure */

.content span.figure {
    display: inline-block;
}
.content span.figure img {
    display: block;
}
.content span.figure span {
    padding: 0.5em 0;
    font-size: 0.9em;
}
