/* Figure extension, https://github.com/GiovanniSalmeri/yellow-figure */

figure { /* reset */
    margin: 0;
}
.content .figure {
    display: inline-block;
}
.content .figure img {
    display: block;
}
.content .figure-caption {
    display: block;
    padding: 0.5em 0;
    font-size: 0.9em;
}
